<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dj.demo.mapper.RoomUserMapper">

   <select id="findSumPrice" resultType="com.dj.demo.pojo.RoomUser">
       select sum(price) from room_user
   </select>




</mapper>